# Ignore all Python cache and IDE files
__pycache__/
*.pyc
*.pyo

# Ignore local IDE/project config
.idea/
*.iml
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environment directories
venv/
env/
.venv/

# Ignore logs and temporary files
*.log
*.tmp
*.swp
*.swo

# Ignore local database (if not needed in Docker)
*.sqlite3

# Ignore other temporary or unneeded files
updated_zip/
Dockerfile
mount-1.0/
area51/
project/